<div class="page-header">
  <h1>
    Req receivers
    <a href="/req_receivers/new" class="btn btn-lg btn-success">New Req receiver</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Student</th>
        <th>Actions</th>
      </tr>

      <% @req_receivers.each do |req_receiver| %>
      <tr>
        <td><%= req_receiver.student.email %></td>
        <td>
          <a href="/req_receivers/<%= req_receiver.id %>" class="btn btn-primary">Show</a>
          <a href="/req_receivers/<%= req_receiver.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_req_receiver/<%= req_receiver.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
