<!-- Validation failure messages -->
<% if @quarter.errors.any? %>
  <% @quarter.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Quarter</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_quarter" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for year -->
      <div class="form-group">
        <label for="year" class="control-label">
          Year
        </label>

        <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @quarter.year %>">
      </div>

      <!-- Label and input for quarter -->
      <div class="form-group">
        <label for="quarter" class="control-label">
          Quarter
        </label>

        <input type="text" id="quarter" name="quarter" placeholder="Quarter" class="form-control" value="<%= @quarter.quarter %>">
      </div>

      <button class="btn btn-success">
        Create Quarter
      </button>
      or
      <a href="/quarters">Cancel</a>
    </form>
  </div>
</div>
