<!-- Validation failure messages -->
<% if @req_sender.errors.any? %>
  <% @req_sender.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Req Sender</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_req_sender" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="control-label">
          Student
        </label>

        <input type="text" id="student_id" name="student_id" placeholder="Student" class="form-control" value="<%= @req_sender.student_id %>">
      </div>

      <button class="btn btn-success">
        Create Req Sender
      </button>
      or
      <a href="/req_senders">Cancel</a>
    </form>
  </div>
</div>
